# ========================
# Go 编译生成文件
# ========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# 编译输出目录（如你使用了 bin/ 或 build/）
bin/
build/


# ========================
# Go Modules 缓存（一般不用忽略 go.sum）
# ========================
vendor/


# ========================
# Go workspace file
# ========================
go.work
go.work.sum



# ========================
# IDE 和编辑器配置
# ========================
.idea/                 # GoLand 或 IntelliJ IDEA
*.iml                  # IntelliJ 模块文件
.vscode/              # VSCode 项目设置（如有）

# ========================
# 系统生成文件
# ========================
.DS_Store              # macOS
Thumbs.db              # Windows
desktop.ini            # Windows

# ========================
# 日志和调试
# ========================
*.log
*.tmp
*.swp
*.bak
*.old
*.csv

# ========================
# 覆盖测试和分析工具生成文件
# ========================
coverage.out
*.cov
*.coverprofile
*.prof

# ========================
# 临时文件或中间文件
# ========================
*.cache
*.local
*.pid

# ========================
# 环境变量文件
# ========================
.env
